<section
  class="charter-container"
  [class.charter-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar aria-label="Header" class="charter-toolbar">
    <button
      mat-icon-button
      class="charter-icon"
      aria-label="Charter app icon"
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="charter-spacer"></span>
    <a
      mat-icon-button
      aria-label="https://github.com/rk-7/charter"
      href="https://github.com/rk-7/charter"
    >
      <img src="assets/github_svg.svg" style="width: 24px;" />
    </a>
  </mat-toolbar>
  <mat-sidenav-container
    class="charter-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.url" *ngFor="let nav of navItems">{{
          nav.name
        }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <footer>Copyright © rk-7 | MIT License</footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
